$header: #F5F5F5;

$gray: #676767;

$lighter-gray: #888888;

$border-gray: #E5E5E5;

$black: #333333;

$blue: #4078C0;

$button: #eee;

$button-border: #D5D5D5;

$green: #7ACB5D;

$green-border: #5CA941;
