
$twitterBlue: #53A7E8;
$twitterGray: #8899A6;
$lighter-gray: #97A6B1;
$feedIcons: #AAB8C2;
$nameBlack: #292F33;

$headerTopBG: #fff;
$feedHoverBg: #F5F8FA;


$feedBorder: #E1E8ED;
$loginBorder: #E1E8ED;
$navyBorder: #3B88C3;
