@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "variables";
$visual-grid: true;
@import "../../bower_components/neat/app/assets/stylesheets/neat";

body {
  font-family: 'Helvetica' sans-serif;
  margin: 0;
}

div.wrapper {
  @include outer-container(100%);
}
  ///////////////////////////////
 //        HEADER STYLES      //
///////////////////////////////
header.top {
  @include span-columns(12 of 12);
  margin-top: 10px;

  nav.nav {
    @include span-columns(5 of 12);
  }

  .twitterBird {
    @include span-columns(2 of 12);
    padding: 0 0 0 17px;
    font-size: 1.5em;
    color: $twitterBlue;
  }

   .profileHeader {
     @include span-columns(5 of 12);
     float: right;
     input {
       border-radius: 10px;
       padding: 5px;
       border: 1px solid #E1E8ED;
     }
   }
   .loginHeader {
     text-align: center;
     display: inline;
     margin-left: 15%;
     color: gray;
      .login {
        font-size: 1em;
        margin-left: 0px;
      }
   }
   .homeHeader {
     float: right;
     a {
       font-size: 1em;
     }
   }
  a {
    text-decoration: none;
    color: gray;
    padding: 10px;
  }

  .smallAvatar {
     border-radius: 5px;
   }

   .homeBtn {
     font-size: 1em;
   }
}

  ///////////////////////////////
 //         MAIN STYLES       //
///////////////////////////////
main {
  @include outer-container;
}

.feed {
  @include span-columns(6 of 12);
  display: block;
  margin: 100px 50px 50px 200px;

  img{
    float:left;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
  }

  header.tweetHeader {
    border-bottom: 1px solid $feedBorder;
    padding-bottom: 10px;

    p {
      color: #000000;
      font-size: 14px;
    }

     a.fa {
      text-decoration: none;
      color: $feedIcons;
      margin: 10px 15px 5px 15px;

      &:hover {
        color: $twitterBlue;
      }
    }
  }

  .tweet {
    display: block;
    margin:0px 0px 0px 0px;
    &:hover {
      background-color: $feedHoverBg;
    }
  }

  .email {
    text-decoration: none;
    color: $twitterBlue;
    font-weight: bold;
    float: left;
    display: block;
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
    }
  }

  time {
    color: $twitterGray;
    margin: 0;
    line-height: 58px;
    font-size: 12px;
    padding: 10px 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1.error {
  margin: 0 auto;
  padding: 20px;
  color: #f00;
}
section.form,
section.regForm {
  @include span-columns(4 of 12);
  text-align: center;
  margin-left: 30%;
  margin-top: 10%;

  input.email,
  input.pwd,
  input.pwd2 {
    margin: 5px;
    font-size: 0.8em;
    padding: 8px 60px 8px 5px;
    border-radius: 5px;
    border: 1px solid $loginBorder;
  }
  .instructions {
    color: gray;
    font-size: 0.9em;
    border-top: 1px solid $loginBorder;
    padding-top: 15px;
    a {
      text-decoration: none;
      color: $twitterBlue;
      transition: text-decoration 0.5s ease;
      padding: 10px 60px;
      &:hover{
        text-decoration: underline;
        transition: text-decoration 0.5s ease;
      }
    }
  }
  a.login,
  .registerBtn {
    color: white;
    text-decoration: none;
    background: $twitterBlue;
    padding: 10px 60px;
    display: block;
    margin: 5px auto;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;
  }
  a.login {
    padding: 10px 40px;
    width: 70%;
  }
  .registerBtn {
    padding: 10px 95px;
  }
  a.loginLink {
    text-decoration: none;
    color: $twitterBlue;
    // display: none;
  }
}
